{% extends 'articles/layout2.html' %}
{% load static %}
{% block script %}
<script src="{% static 'javascript/article-page.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <!-- Main Article Column -->
        <div class="col">
            <h2>{{ article.title }}</h2>
            <p class="text-muted">by {{ article.author }}, {{ article.date.date }}</p>
            {{ content | safe }}
        </div>
        <!-- Suggested Articles -->
        <!-- TODO: generate 3 suggested articles and display them in this -->
        <div class="col-sm-2">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            <h4>Comments</h4>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-link" id="new-comment-button">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </button>
            <button class="btn btn-outline-link" id="less-comment-button" style="display: none;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                </svg>
            </button>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>

        <!-- COMMENT BOX -->
        <div class="col">
            <div id="new-comment-box">
                <form id="new-comment-form" class="form-inline">
                    <div class="form-group">
                        <input type="text" id="commenter-name" placeholder="Display Name" required>
                        <input type="email" id="commenter-email" placeholder="Email" required>
                    </div>
                </form>
                 <div class="form-group">
                     <textarea class="form-control" style="width: 100%; height: 150px;"></textarea>
                 </div>
                <div class="form-group">
                    <button class="form-control btn btn-outline-primary">Submit</button>
                </div>
            </div>
        </div>
            <div class="col-sm-2"></div>
    </div>

    <!-- COMMENTS SECTION -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            {% for comment in comments %}
            {{ comment.body }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}