{% extends 'articles/layout2.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <!-- Main Article Column -->
        <div class="col">
            <h2>{{ article.title }}</h2>
            <p class="text-muted">by {{ article.author }}, {{ article.date.date }}</p>
            {{ content | safe }}
        </div>
        <!-- Suggested Articles -->
        <!-- TODO: generate 3 suggested articles and display them in this -->
        <div class="col-sm-2">

        </div>
    </div>
</div>
{% endblock %}