
{% extends 'articles/layout2.html' %}
{% block title %}The Trailhead Blog{% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid d-flex justify-content-center">
    <div class="row no-gutters">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
           <div class="card rounded" id="main-article">
               <div class="card-header">Featured Article</div>
               <a href="{% url 'articles' %}{{ main_article.url }}"><img src="{{ main_article.image.url }}" class="card-img-top" alt="..."></a>
               <div class="card-body">
                  <h5 class="card-title">{{ main_article.title }}</h5>
                  <p class="card-text">{{ main_article.description }}</p>
                  <p class="card-text text-right"><small><b><a class="read-more-link" href="{% url 'articles' %}{{ main_article.url }}">Read more...</a></b></small></p>
                  <p class="card-text"><small class="text-muted">{{ main_article.date.date }}</small>
              </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row no-gutters">
        <div class="col-sm-3"></div>
        {% for article in recent_articles %}
        <div class="col-sm-2">
            <div class="card other-article">
                <a href="{% url 'articles' %}{{article.url}}"><img src="{{ article.image.url }}" class="card-img-top"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ article.title }}</h6>
                    <p class="card-text"><small class="text-muted">{{ article.date.date }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}