.card {
    margin: 10px;
    }

.read-more-link {
    color: black;
    }
.read-more-link:hover {
    color: grey;
    }

table {
    padding:4px;
    }

#new-comment-box {
    display: none;
    }

